<style>
   .container {
    font-size: x-large;
   } 
</style>

<div class="container text-center my-5">
    <h1>Welcome to Lee's Footwear</h1>
    <p>Your destination for stylish footwear</p>
    <a class="btn btn-lg" href="/shoes" style="background-color: #6e6e6e; color: white">Shop Now</a>
</div>